<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Alerts" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Default Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert </code>class to show a default alert.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary">
                            <strong> Hi! </strong> A simple <b>Dismissible primary Alert </b> — check it out!
                        </alert>
                        <h6>Secondary Alert</h6>
                        <alert type="secondary">
                            <strong> How are you! </strong> A simple <b>secondary alert</b> —check it out!
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success">
                            <strong> Yey! Everything worked! </strong> A simple <b>success alert</b> —check it out!
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger">
                            <strong> Something is very wrong! </strong> A simple <b>danger alert</b> —check it out!
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning">
                            <strong> Uh oh, something went wrong </strong> A simple <b>warning alert</b> —check it out!
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info">
                            <strong>Don't forget' it !</strong> A simple <b>info alert</b> —check it out!
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light">
                            <div class="text-body">
                                <strong>Mind Your Step!</strong> A simple <b>light alert</b> —check it out!
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark">
                            <strong>Did you know?</strong> A simple <b>dark alert</b> —check it out!
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Borderless Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>border-0</code> class to set alert without border.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary border-0">
                            <strong> Hi! </strong> A simple <b>Primary alert</b> —check it out!
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary border-0">
                            <strong> How are you! </strong> A simple <b>secondary alert</b> —check it out!
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success border-0">
                            <strong> Yey! Everything worked! </strong> A simple <b>success alert</b> —check it out!
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger border-0">
                            <strong> Something is very wrong! </strong> A simple danger alert—check it out!
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning border-0">
                            <strong> Uh oh, something went wrong </strong> A simple <b>warning alert</b> —check it out!
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info border-0">
                            <strong>Don't forget' it !</strong> A simple <b>info alert</b> —check it out!
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light border-0">
                            <div class="text-body">
                                <strong>Mind Your Step!</strong> A simple <b>light alert</b> —check it out!
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark border-0">
                            <strong>Did you know?</strong> A simple <b>dark alert</b> —check it out!
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Dismissing Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-dismissible</code> class to add dismissing button to the
                    alert.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary" [dismissible]="true">
                            <strong> Hi! </strong> A simple <b>Dismissible primary Alert </b> — check it out!
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary" [dismissible]="true">
                            <strong> How are you! </strong> A simple <b>Dismissible secondary alert</b>
                            —check it out!
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success" [dismissible]="true">
                            <strong>Right Way !</strong> A simple <b>Dismissible success alert</b> —check
                            it out!
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger" [dismissible]="true">
                            <strong> Something is very wrong! </strong> A simple <b>Dismissible danger alert</b> —check
                            it out!
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning" [dismissible]="true">
                            <strong>Welcome Back!</strong> A simple <b>Dismissible warning alert</b> —check it out!
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info" [dismissible]="true">
                            <strong>Don't forget' it !</strong> A simple <b>Dismissible info alert</b>
                            —check it out!
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light" [dismissible]="true">
                            <div class="text-body">
                                <strong>Mind Your Step!</strong> A simple <b>Dismissible light alert</b>
                                —check it out!
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark" [dismissible]="true">
                            <strong>Did you know?</strong> A simple <b>Dismissible dark alert</b>
                            —check it out!
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Link Color Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-link</code> class at &lt;a&gt; tag to show matching colored
                    links within the given alert.</p>

                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary">
                            A simple Primary alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary">
                            A simple Secondary alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success">
                            A simple Success alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger">
                            A simple Danger alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning">
                            A simple Warning alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info">
                            A simple Info alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light">
                            <div class="text-body">
                                A simple Light alert with <a href="javascript:void(0);" class="alert-link">an example
                                    link</a>. Give it a click if you like.
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark">
                            A simple Dark alert with <a href="javascript:void(0);" class="alert-link">an example
                                link</a>. Give it a click if you like.
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Live Alert Example</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Click the Show live alert button to show an alert on button click.</p>
                @for (alert of alerts; track $index) {
                <div id="liveAlertPlaceholder">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="true">{{ alert.msg }}
                    </alert>
                </div>}
                <button type="button" class="btn btn-primary" (click)="showalert()">Show live alert</button>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Outline Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-outline</code> class to set an alert with outline.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Outline Alert</h6>

                        <alert type="primary bg-body-secondary fade show" [dismissible]="true">
                            <strong> Hi! </strong> A simple <b>Primary alert</b> —check it out!
                        </alert>
                        <h6>Secondary Outline Alert</h6>
                        <alert type="secondary bg-body-secondary fade show" [dismissible]="true">
                            <strong> How are you! </strong> - Outline <b>secondary alert</b> example
                        </alert>

                        <h6>Success Outline Alert</h6>
                        <alert type="success alert-outline bg-body-secondary fade show" [dismissible]="true">
                            <strong> Yey! Everything worked! </strong> - Outline <b>success alert</b> example
                        </alert>

                        <h6>Danger Outline Alert</h6>
                        <alert type="danger alert-outline bg-body-secondary fade show" [dismissible]="true">
                            <strong> Something is very wrong! </strong> - Outline <b>danger alert</b> example
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Outline Alert</h6>
                        <alert type="warning alert-outline bg-body-secondary fade show" [dismissible]="true">
                            <strong> Uh oh, something went wrong! </strong> - Outline <b>warning alert</b> example
                        </alert>

                        <h6>Info Outline Alert</h6>
                        <alert type="info alert-outline bg-body-secondary fade show" [dismissible]="true">
                            <strong>Don't forget' it !</strong> - Outline <b>info alert</b> example
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark alert-outline bg-body-secondary fade show" [dismissible]="true">
                            <strong>Did you know?</strong> - Outline <b>dark alert</b> example
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Left Border Alerts</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use the <code>alert-border-left </code> class to set an alert with the left border
                    & outline.</p>

                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary  alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-user-smile-line me-3 align-middle fs-lg"></i><strong>Primary</strong>
                            - Left border alert
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-check-double-line me-3 align-middle fs-lg"></i><strong>Secondary</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-notification-off-line me-3 align-middle fs-lg"></i><strong>Success</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-error-warning-line me-3 align-middle fs-lg"></i><strong>Danger</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-alert-line me-3 align-middle fs-lg"></i><strong>Warning</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-airplay-line me-3 align-middle fs-lg"></i><strong>Info</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="Light alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-mail-line me-3 align-middle fs-lg"></i><strong>Light</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark alert-border-left alert-dismissible fade show" [dismissible]="true">
                            <i class="ri-refresh-line me-3  align-middle fs-lg"></i><strong>Dark</strong>
                            - Left border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Label Icon Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-label-icon</code> class to set an alert with a label icon.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary alert-dismissible text-white bg-primary alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-user-smile-line label-icon"></i><strong>Primary</strong> -
                            Label icon alert
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary alert-dismissible text-white  bg-secondary alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-check-double-line label-icon"></i><strong>Secondary</strong>
                            - Label icon alert
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success alert-dismissible text-white bg-success alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-notification-off-line label-icon"></i><strong>Success</strong>
                            - Label icon alert
                        </alert>
                        <h6>Danger Alert</h6>
                        <alert type="danger alert-dismissible text-white bg-danger alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Danger</strong>
                            - Label
                            icon alert
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="Warning  alert-dismissible text-white bg-warning  alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Warning</strong>
                            - Label
                            icon alert
                        </alert>
                        <h6>Info Alert</h6>
                        <alert type="Info  alert-dismissible text-white bg-info  alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Info </strong>
                            - Label
                            icon alert
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light alert-dismissible text-dark bg-light alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Light </strong>
                            - Label
                            icon alert
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark lert-dismissible text-white bg-dark alert-label-icon fade show" role="alert" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Dark</strong>
                            - Label
                            icon alert
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Additional Content Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-additional</code> class and Use the <code>alert-</code> class
                    to HTML elements like headings, paragraphs, dividers etc.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary" [dismissible]="true" class="alert-primary alert-additional fade show">
                            <div class="alert-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <i class="ri-error-warning-line fs-16 align-middle"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="alert-heading">Well done !</h5>
                                        <p class="mb-0">Aww yeah, you successfully read this important alert message.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-content">
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </div>
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger" [dismissible]="true" class="alert-danger alert-additional fade show mb-xl-0" role="alert">
                            <div class="alert-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <i class="ri-alert-line fs-16 align-middle"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="alert-heading">Something is very wrong!</h5>
                                        <p class="mb-0">Change a few things up and try submitting again.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-content">
                                <p class="mb-0">Whenever you need to, be sure to use margin
                                    utilities to keep things nice and tidy.</p>
                            </div>
                        </alert>
                    </div>

                    <div class="col-xl-6">

                        <h6>Success Alert</h6>
                        <alert type="success" [dismissible]="true" class="alert-success alert-additional fade show">
                            <div class="alert-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <i class="ri-notification-off-line fs-16 align-middle"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="alert-heading">Yey! Everything worked!</h5>
                                        <p class="mb-0">This alert needs your attention, but it's not super important.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-content">
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </div>
                        </alert>

                        <h6>Warning Alert</h6>
                        <alert type="warning" [dismissible]="true" class="alert-warning alert-additional fade show mb-0">
                            <div class="alert-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <i class="ri-alert-line fs-16 align-middle"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="alert-heading">Uh oh, something went wrong!</h5>
                                        <p class="mb-0">Better check yourself, you're not looking too good.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-content">
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things
                                    nice and tidy.</p>
                            </div>
                        </alert>

                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Top Border with Outline Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-top-border</code> class to set an alert with the top border
                    and outline.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-primary"></i><strong>Primary</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>


                        <h6>Secondary Alert</h6>
                        <alert type="secondary alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-secondary"></i><strong>Secondary</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-success"></i><strong>Success</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-danger"></i><strong>Danger</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-warning"></i><strong>Warning</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-info"></i><strong>Info</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Light Alert</h6>
                        <alert type="light alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-light"></i><strong>Light</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark alert-top-border alert-dismissible fade show">
                            <i class="ri-user-smile-line me-3 align-middle fs-16 text-dark"></i><strong>Dark</strong>
                            - Top border alert
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Label Icon Arrow Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-label-icon label-arrow</code> class to show an alert with
                    label icon and arrow.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-user-smile-line label-icon"></i><strong>Primary</strong> -
                            Label icon arrow alert
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-check-double-line label-icon"></i><strong>Secondary</strong> -
                            Label icon
                            arrow alert
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-notification-off-line label-icon"></i><strong>Success</strong>
                            - Label icon arrow alert
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Danger</strong>
                            - Label
                            icon arrow alert
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-alert-line label-icon"></i><strong>Warning</strong> -
                            Label icon arrow alert
                        </alert>

                        <h6>info Alert</h6>
                        <alert type="info alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-airplay-line label-icon"></i><strong>Info</strong> -
                            Label icon arrow alert
                        </alert>

                        <h6>Light Alert</h6>

                        <alert type="light alert-label-icon label-arrow" [dismissible]="true">
                            <div class="text-body">
                                <i class="ri-mail-line label-icon"></i><strong>Light</strong>
                                - Label icon arrow alert
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark alert-label-icon label-arrow" [dismissible]="true">
                            <i class="ri-refresh-line label-icon"></i><strong>Dark</strong>
                            - Label icon arrow alert
                        </alert>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Rounded Label Icon Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>alert-label-icon rounded-label</code> class to set an alert with a
                    rounded label icon.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Alert</h6>
                        <alert type="primary alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-user-smile-line label-icon"></i><strong>Primary</strong> -
                            Rounded label alert
                        </alert>

                        <h6>Secondary Alert</h6>
                        <alert type="secondary alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-check-double-line label-icon"></i><strong>Secondary</strong>
                            - Rounded
                            label alert
                        </alert>

                        <h6>Success Alert</h6>
                        <alert type="success alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-notification-off-line label-icon"></i><strong>Success</strong>
                            - Rounded
                            label alert
                        </alert>

                        <h6>Danger Alert</h6>
                        <alert type="danger alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-error-warning-line label-icon"></i><strong>Danger</strong>
                            - Rounded
                            label alert
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Alert</h6>
                        <alert type="warning alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-alert-line label-icon"></i><strong>Warning</strong> - Rounded
                            label alert
                        </alert>

                        <h6>Info Alert</h6>
                        <alert type="info alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-airplay-line label-icon"></i><strong>Info</strong> -
                            Rounded label
                            alert
                        </alert>

                        <h6>Light Alert</h6>

                        <alert type="light alert-label-icon rounded-label" [dismissible]="true">
                            <div class="text-body">
                                <i class="ri-mail-line label-icon"></i><strong>Light</strong> -
                                Rounded label
                                alert
                            </div>
                        </alert>

                        <h6>Dark Alert</h6>
                        <alert type="dark alert-label-icon rounded-label" [dismissible]="true">
                            <i class="ri-refresh-line label-icon"></i><strong>Dark</strong> -
                            Rounded label
                            alert
                        </alert>
                    </div>

                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Solid Alerts</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <p class="text-muted">Use the <code>border-*</code>, <code>bg-*</code>, <code>text-white</code> class to
                    set an alert with solid style.</p>
                <div class="row">
                    <div class="col-xl-6">
                        <h6>Primary Solid Alert</h6>
                        <alert type="primary bg-primary text-white" [dismissible]="true">
                            <strong>Hi!</strong> - Solid <b>primary alert</b> example
                        </alert>

                        <h6>Secondary Solid Alert</h6>
                        <alert type="secondary bg-secondary text-white" [dismissible]="true">
                            <strong>How are you!</strong> - Solid <b>Secondary alert</b> example
                        </alert>

                        <h6>Success Solid Alert</h6>
                        <alert type="success bg-success text-white" [dismissible]="true"> <strong>Yey! Everything
                                worked! </strong> - Solid <b>success alert</b> example
                        </alert>

                        <h6>Danger Solid Alert</h6>
                        <alert type="danger bg-danger text-white" [dismissible]="true"> <strong>Something is very
                                wrong!</strong> - Solid <b>danger alert</b> example
                        </alert>
                    </div>

                    <div class="col-xl-6">
                        <h6>Warning Solid Alert</h6>
                        <alert type="warning bg-warning text-white" [dismissible]="true"> <strong>Uh oh, something
                                went wrong!</strong> - Solid <b>warning alert</b> example
                        </alert>

                        <h6>Info Solid Alert</h6>
                        <alert type="info bg-info text-white" [dismissible]="true"> <strong>Don't forget' it
                                !</strong> - Solid <b>info alert</b> example
                        </alert>


                        <h6>Light Solid Alert</h6>
                        <alert type="light bg-light text-white" [dismissible]="true"> <strong>Mind Your
                                Step!</strong> - Solid <b>secondary alert</b> example
                        </alert>

                        <h6>Dark Solid Alert</h6>
                        <alert type="dark bg-dark text-white" [dismissible]="true"> <strong>Did you
                                know?</strong> - Solid <b>dark alert</b> example
                        </alert>

                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div><!--end row-->