// 
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    >a {
        color: var(--#{$prefix}breadcrumb-divider-color);
    }

    +.breadcrumb-item {
        &::before {
            font-family: "tabler-icons";
            font-size: 15px;
            line-height: 20px;
        }
    }
}