<section class="auth-page-wrapper py-5 position-relative bg-light d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card mb-0 auth-card" style="background-size: cover;">
                    <div class="card-body">
                        <div class="text-center py-5">
                            <div class="mb-5">
                                <h4 class="text-white">The Site is Currently Down for Maintenance</h4>
                                <p class="text-white-50 fs-md mb-0">We apologizers for any inconvenient caused, We've
                                    almost done.</p>
                            </div>
                            <div class="row my-5 py-lg-5">
                                <div class="col-xxl-5 mx-auto">
                                    <img src="assets/images/maintanace.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div>
                                <a routerLink="/" class="btn btn-primary"><i class="ti ti-home me-1"></i> Back to
                                    Home</a>
                            </div>
                        </div>
                    </div><!-- end card body -->
                    <div class="text-center">
                        <p class="text-white opacity-75">
                            &copy;
                            {{year}} Vixon. Crafted with <i class="ti ti-heart-filled text-danger"></i> by Themesbrand
                        </p>
                    </div>
                </div>
                <!--end container-->
            </div>
        </div>
    </div>
</section>