<div class="row">
    <div class="col-xl-8">
        <div>
            <div class="row gy-4">
                <div class="col-sm-4 border-end-sm">
                    <div class="text-center">
                        <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Total Sessions</p>
                        <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="476.32" [options]="option"></span>k </h4>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <h5 class="text-success fs-xs mb-0">
                                <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                            </h5>
                            <p class="text-muted mb-0">than last week</p>
                        </div>
                    </div><!-- end card -->
                </div>
                <div class="col-sm-4 border-end-sm">
                    <div class="text-center">
                        <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Avg. Visit Duration</p>
                        <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="1.57" [options]="option">0</span>s </h4>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <h5 class="text-success fs-xs mb-0">
                                <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                            </h5>
                            <p class="text-muted mb-0">than last week</p>
                        </div>
                    </div><!-- end card -->
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Impressions</p>
                        <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="2368">0</span>k </h4>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <h5 class="text-success fs-xs mb-0">
                                <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                            </h5>
                            <p class="text-muted mb-0">than last week</p>
                        </div>
                    </div><!-- end card -->
                </div>
            </div>

            <div class="mt-4">
                <div class="mx-n4">
                    <div id="performance_overview" class="apex-charts" dir="ltr">
                        <apx-chart [series]="performanceChart.series" [chart]="performanceChart.chart" [stroke]="performanceChart.stroke" [plotOptions]="performanceChart.plotOptions" [dataLabels]="performanceChart.dataLabels" [legend]="performanceChart.legend" [grid]="performanceChart.grid" [yaxis]="performanceChart.yaxis" [xaxis]="performanceChart.xaxis" [colors]="performanceChart.colors" dir="ltr"></apx-chart>
                    </div>
                </div>
            </div>

            <div class="row">
                @for (data of sources; track $index) {
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3 d-flex gap-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-body-secondary text-{{data.logocolor}} rounded fs-3xl">
                                        <i class="ti ti-{{data.logo}}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-2">{{data.platform}} <span class="badge bg-{{data.badge.color}}-subtle text-{{data.badge.color}}"><i class="ti ti-arrow-{{data.badge.direction}}"></i> {{data.badge.value}}</span></p>
                                <h6 class="fw-semibold mb-0"><span class="counter-value" [countUp]="data.visitors.count"></span>{{data.visitors.unit}} <small class="text-muted fw-normal">Visitors</small></h6>
                            </div>
                        </div>
                    </div>
                </div>}<!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="contactList">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Campaign performance by source</h4>
                            <div class="flex-shrink-0">
                                <div dropdown class="dropdown card-header-dropdown sortble-dropdown">
                                    <a dropdownToggle class="text-reset dropdown-btn fs-sm" href="javascript:void(0);">
                                        <span class="fw-semibold text-uppercase">Sort by:
                                        </span><span class="text-muted dropdown-title">{{selectSort}}</span> <i class="ti ti-chevron-down ms-1"></i>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <button class="dropdown-item sort" (click)="changeSort('source')">Source</button>
                                        <button class="dropdown-item sort" (click)="changeSort('impression')">Impression</button>
                                        <button class="dropdown-item sort" (click)="changeSort('cost')">Cost</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-card mt-0">
                                <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                    <thead class="text-muted table-light">
                                        <tr>
                                            <th scope="col" class="sort cursor-pointer" (click)="onSort('source')">Source</th>
                                            <th scope="col" class="sort cursor-pointer" (click)="onSort('impression')">Impression</th>
                                            <th scope="col" class="sort cursor-pointer" (click)="onSort('clicks')">Clicks</th>
                                            <th scope="col" class="sort cursor-pointer" (click)="onSort('cost')">Cost</th>
                                            <th scope="col" class="sort cursor-pointer" (click)="onSort('conversation')">Conversion</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        @for (data of campaigns; track $index) {
                                        <tr>
                                            <td class="source">
                                                {{data.source}}
                                            </td>
                                            <td class="impression">
                                                {{data.impression}}
                                            </td>
                                            <td class="clicks">
                                                {{data.clicks}}
                                            </td>
                                            <td class="cost">{{data.cost}}</td>
                                            <td class="conversation">
                                                {{data.conversation}}
                                            </td>
                                        </tr>}
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                                <div class="noresult" style="display: none">
                                    <div class="text-center">
                                        <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon> -->
                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                        <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any transactions for you search.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card card-height-100">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Top Session</h6>
                        </div>
                        <div class="card-body">
                            <ngx-simplebar class="mx-n3" style="max-height: 425px;">
                                @for (data of sessionList; track $index) {
                                <div class="d-flex gap-2 mb-3">
                                    <div class="avatar-sm flex-shrink-0">
                                        <div class="avatar-title bg-body-secondary rounded">
                                            <img src="{{data.avatar}}" alt="" class="avatar-xxs">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6>{{data.sessions}} <small class="text-muted fw-normal">/Session</small></h6>
                                        <p class="text-muted fs-md mb-0">{{data.browser}}</p>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div dropdown class="dropdown">
                                            <button dropdownToggle class="btn shadow-none btn-sm btn-icon" type="button">
                                                <i class="ti ti-dots fs-md"></i>
                                            </button>
                                            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>}
                            </ngx-simplebar>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-xxl-9">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h6 class="card-title mb-0 flex-grow-1">Session Overview</h6>
                            <div class="flex-shrink-0">
                                <button type="button" class="btn btn-subtle-secondary btn-sm me-1">
                                    ALL
                                </button>
                                <button type="button" class="btn btn-subtle-secondary btn-sm me-1">
                                    1M
                                </button>
                                <button type="button" class="btn btn-subtle-secondary btn-sm me-1">
                                    6M
                                </button>
                                <button type="button" class="btn btn-subtle-primary btn-sm">
                                    1Y
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="balance_overview" class="apex-charts ms-n3" dir="ltr">
                                <apx-chart [series]="balanceoverviewChart.series" [chart]="balanceoverviewChart.chart" [markers]="balanceoverviewChart.markers" [stroke]="balanceoverviewChart.stroke" [dataLabels]="balanceoverviewChart.dataLabels" [legend]="balanceoverviewChart.legend" [grid]="balanceoverviewChart.grid" [xaxis]="balanceoverviewChart.xaxis" [colors]="balanceoverviewChart.colors" dir="ltr"></apx-chart>
                            </div>
                            <div class="table-responsive table-card mb-0 mt-3">
                                <table class="table table-sm table-borderless align-middle text-center mb-0 table-nowrap">
                                    <tbody>
                                        <tr>
                                            <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-primary"></i> Total Revenue</td>
                                            <th>$795.69k</th>
                                            <td class="text-muted"><span class="text-success"><i class="bi bi-caret-up-fill align-baseline me-1"></i> 6.19%</span> than last years</td>
                                            <td class="text-end" style="width: 150px;"><a href="javascript:void(0);" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-success"></i> Total Expenses</td>
                                            <th>$415.37k</th>
                                            <td class="text-muted"><span class="text-success"><i class="bi bi-caret-up-fill align-baseline me-1"></i> 3.62%</span> than last years</td>
                                            <td class="text-end" style="width: 150px;"><a href="javascript:void(0);" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-info"></i> Profit Ratio </td>
                                            <th>3.6%</th>
                                            <td class="text-muted"><span class="text-danger"><i class="bi bi-caret-down-fill align-baseline me-1"></i> 1.47%</span> than last years</td>
                                            <td class="text-end" style="width: 150px;"><a href="javascript:void(0);" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-4">
        <div class="d-none d-xl-block">
            <div class="card bg-success-subtle shadow-none rounded-0 border-0 dashboard-widgets-wrapper">
                <div class="card-body text-center mt-5 pt-5">
                    <h5>Welcome to Alexandra</h5>
                    <p class="text-muted fs-md  ">There is the latests update for the last 7 days, check now</p>
                    <img src="assets/images/dashboard.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="mt-xl-5 pt-xl-4">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h6 class="card-title mb-0 flex-grow-1">Realized Rate</h6>
                    <div dropdown class="dropdown card-header-dropdown flex-shrink-0">
                        <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">Current Years</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Years</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="realized_rate" class="apex-charts" dir="ltr">
                        <apx-chart [series]="realizedChart.series" [chart]="realizedChart.chart" [stroke]="realizedChart.stroke" [fill]="realizedChart.fill" [xaxis]="realizedChart.xaxis" [colors]="realizedChart.colors" dir="ltr"></apx-chart>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex">
                    <h5 class="card-title flex-grow-1 mb-0">Upcoming Schedule</h5>
                    <div class="flex-shrink-0">
                        <a href="javascript:void(0);" class="btn btn-subtle-info btn-sm">View More <i class="ph-caret-right align-middle"></i></a>
                    </div>
                </div>
                <div class="card-body vstack gap-2">
                    <div class="d-flex bg-body-secondary rounded">
                        <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                            <p class="mb-1 text-muted fs-sm">Tue, 20 Feb</p>
                            <h6 class="mb-0">09:19 PM</h6>
                        </div>
                        <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                            <h6>Marketing Policy Meetings</h6>
                            <p class="text-muted fs-sm text-truncate mb-0">This is a periodic meeting between sales and marketing aimed at ensuring initial and ongoing alignment between the two groups.</p>
                        </div>
                    </div>
                    <div class="d-flex bg-body-secondary rounded">
                        <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                            <p class="mb-1 text-muted fs-sm">Wed, 18 Jan</p>
                            <h6 class="mb-0">11:37 PM</h6>
                        </div>
                        <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                            <h6>Design new UI and check sales</h6>
                            <p class="text-muted fs-sm text-truncate mb-0">Designers aim to create interfaces which users find easy to use and pleasurable.</p>
                        </div>
                    </div>
                    <div class="d-flex bg-body-secondary rounded">
                        <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                            <p class="mb-1 text-muted fs-sm">Tue, 16 Jan</p>
                            <h6 class="mb-0">07:00 AM</h6>
                        </div>
                        <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                            <h6>Design Event banner</h6>
                            <p class="text-muted fs-sm text-truncate mb-0">Event banners are one of the many ways to use print marketing for your business.</p>
                        </div>
                    </div>
                    <div class="d-flex bg-body-secondary rounded">
                        <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                            <p class="mb-1 text-muted fs-sm">Tue, 12 Dec</p>
                            <h6 class="mb-0">10:57 PM</h6>
                        </div>
                        <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                            <h6>Update Review from Client</h6>
                            <p class="text-muted fs-sm text-truncate mb-0">Contact your unhappy customer and be personable. Use their first name and apologize as necessary.</p>
                        </div>
                    </div>
                    <div class="d-flex bg-body-secondary rounded">
                        <div class="flex-shrink-0 w-md py-2 px-3 text-center border-end">
                            <p class="mb-1 text-muted fs-sm">Tue, 08 Nov</p>
                            <h6 class="mb-0">11:32 AM</h6>
                        </div>
                        <div class="flex-grow-1 px-3 py-2 overflow-hidden">
                            <h6>Ecommerce Menu Dashboard</h6>
                            <p class="text-muted fs-sm text-truncate mb-0">Ecommerce dashboards aggregate the most important performance metrics, so online sellers can track their progress and quickly respond to any changes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xl-3">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Total Leads</h6>
                <div dropdown class="dropdown card-header-dropdown flex-shrink-0">
                    <a dropdownToggle class="text-reset dropdown-btn fs-md" href="javascript:void(0);">
                        <span class="text-muted">This Month<i class="ti ti-chevron-down ms-1"></i></span>
                    </a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:void(0);">This Month</a>
                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="usersActivity" class="apex-charts" dir="ltr">
                    <apx-chart [series]="usersActivityChart.series" [chart]="usersActivityChart.chart" [plotOptions]="usersActivityChart.plotOptions" [fill]="usersActivityChart.fill" [dataLabels]="usersActivityChart.dataLabels" [legend]="usersActivityChart.legend" [grid]="usersActivityChart.grid" [xaxis]="usersActivityChart.xaxis" [colors]="usersActivityChart.colors" dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-3">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Session by Device Type</h6>
                <div class="flex-shrink-0">
                    <a class="btn btn-primary btn-sm" href="javascript:void(0);">
                        View More <i class="ti ti-arrow-narrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <h4><span class="counter-value" [countUp]="5634"></span>k </h4>
                <p class="text-muted">Total Device website visitor</p>

                <div class="mb-4 progress" style="height: 34px;">
                    <!-- <progressbar [value]="stacked" [max]="100" style="height: 34px;"></progressbar> -->
                    <div class="progress-bar" tooltip="Mobile" role="progressbar" style="width: 30%"></div>
                    <div class="progress-bar bg-success" tooltip="Tables" role="progressbar" style="width: 25%"></div>
                    <div class="progress-bar bg-info" tooltip="Laptop" role="progressbar" style="width: 37%"></div>
                    <div class="progress-bar bg-warning" tooltip="Others" role="progressbar" style="width: 8%"></div>
                </div>

                <div class="row g-4">
                    <div class="col-sm-6">
                        <div class="card border-4 border-bottom border-primary mb-0">
                            <div class="card-body text-center">
                                <h6 class="fs-lg mb-2"><span class="counter-value" [countUp]="1523"></span>k</h6>
                                <p class="mb-0 fs-md text-muted">Mobile</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card border-4 border-bottom border-success mb-0">
                            <div class="card-body text-center">
                                <h6 class="fs-lg mb-2"><span class="counter-value" [countUp]="1279"></span>k</h6>
                                <p class="mb-0 fs-md text-muted">Tables</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card border-4 border-bottom border-info mb-0">
                            <div class="card-body text-center">
                                <h6 class="fs-lg mb-2"><span class="counter-value" [countUp]="1895"></span>k</h6>
                                <p class="mb-0 fs-md text-muted">Laptop</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card border-4 border-bottom border-warning mb-0">
                            <div class="card-body text-center">
                                <h6 class="fs-lg mb-2"><span class="counter-value" [countUp]="873"></span>k</h6>
                                <p class="mb-0 fs-md text-muted">Others</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-3">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Sales Per Week</h6>
                <div class="flex-shrink-0">
                    <a class="btn btn-subtle-secondary btn-sm" href="javascript:void(0);">
                        View More <i class="ti ti-arrow-narrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="shades_heatmap" class="apex-charts ms-n3" dir="ltr">
                    <apx-chart [series]="shadesheatmapChart.series" [chart]="shadesheatmapChart.chart" [plotOptions]="shadesheatmapChart.plotOptions" [stroke]="shadesheatmapChart.stroke" [dataLabels]="shadesheatmapChart.dataLabels" [grid]="shadesheatmapChart.grid" [xaxis]="shadesheatmapChart.xaxis" [colors]="shadesheatmapChart.colors" dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-3">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Satisfaction Rate</h6>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown">
                        <button dropdownToggle class="btn shadow-none btn-sm btn-icon" type="button" data-bs-toggle="dropdown">
                            <i class="ti ti-dots fs-md"></i>
                        </button>
                        <ul *bsDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="semi_radialbar" class="apex-charts" dir="ltr">
                    <apx-chart [series]="semiradialbarChart.series" [chart]="semiradialbarChart.chart" [plotOptions]="semiradialbarChart.plotOptions" [fill]="semiradialbarChart.fill" [labels]="semiradialbarChart.dataLablabelsels" [grid]="semiradialbarChart.grid" [colors]="semiradialbarChart.colors" dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h6 class="card-title flex-grow-1 mb-0">Returning Customer Rate</h6>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown">
                        <button dropdownToggle class="btn shadow-none btn-sm btn-icon" type="button">
                            <i class="ti ti-dots fs-md"></i>
                        </button>
                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5><span class="counter-value" [countUp]="2816"></span>k </h5>
                <div class="bg-light">
                    <progressbar [value]="stacked" [max]="100" [striped]="true" [animate]="true"></progressbar>
                </div>
                <div class="d-flex mt-2 align-items-center fs-md">
                    <p class="mb-0 flex-grow-1"><i class="ti ti-rotate-rectangle fs-xs text-primary"></i> Returning</p>
                    <p class="mb-0"><i class="ti ti-rotate-rectangle fs-xs text-success"></i> New</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->