//
// _authentication.scss
//

.auth-page-wrapper{
    min-height: 100vh !important;
    .input-group{
        .input-group-text{
            border-left: 3px solid $primary;
        }
    }
    .auth-twostep{
        animation: moov 2s infinite;
    }
    @keyframes moov{
        0%{
            transform: translateY(-10px);
        }
        20%{
            transform: rotateZ(25deg);;
        }
        50%{
            transform: rotateZ(0deg);
        }
        100%{
            transform: translateY(-10px);
        }
    }
}
.auth-card {
    background: url('../../images/auth/signin-bg.png') center no-repeat;
}

.signin-other-title {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        border-top: 1px dashed var(--#{$prefix}border-color);
        top: 10px;
    }

    .title {
        display: inline-block;
        position: relative;
        z-index: 2;
        background-color: var(--#{$prefix}body-bg);
        padding: 2px 16px;
    }
}

// auth-pass-inputgroup
.auth-pass-inputgroup {
   .input-group input[type="text"]+.btn .ri-eye-fill {
        &:before {
            content: "\ecb6";
        }
    }
}

//passowrd validations 
#password-contain {
    display: none;

    p {
        padding-left: 13px;

        &.valid {
            color: $success;

            &::before {
                position: relative;
                left: -8px;
                content: "✔";
            }
        }

        &.invalid {
            color: $danger;

            &::before {
                position: relative;
                left: -8px;
                content: "✖";
            }
        }
    }
}

.password-addon {
    z-index: 5;
}