<div class="m-n2">
    <div class="d-flex">
        <div class="card file-manager-wrapper rounded-end-0 shadow-none pb-3">
            <ngx-simplebar class="h-100">
                <div class="card-body d-flex flex-column h-100">
                    <div class="position-relative mb-4 d-flex align-items-center gap-2">
                        <div class="flex-shrink-0 position-relative">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded">
                            <span class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle bg-success p-1"><span class="visually-hidden">unread messages</span></span>
                        </div>
                        <div class="flex-grow-1">
                            <p class="text-muted mb-2">Welcom to file manager</p>
                            <a href="javascript:void(0);" class="stretched-link">
                                <h6 class="fs-md mb-0">Silene Oliveira</h6>
                            </a>
                        </div>
                    </div>
                    <div class="mb-4">
                        <dropzone [message]="'Drop files here or click to upload.'" class="border border-1 border-dashed border-primary text-center dz-clickable "></dropzone>
                        <!-- end dropzon-preview -->
                    </div>
                    <div class="mb-4">
                        <h6>My Documents</h6>
                        <ul class="file-manager-menu list-unstyled fs-md mb-0">
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-folder align-baseline me-1"></i> All Folders</a>
                            </li>
                            <li>
                                <div class="custom-accordion">
                                    <a class="text-body fw-medium py-1 d-flex align-items-center" href="javascript:void(0);" (click)="openfileMenu()">
                                        <i class="ti ti-clock-hour-2 font-size-20  me-2"></i> Recent File <i class="ti ti-chevron-down accor-down-icon ms-auto"></i>
                                    </a>
                                    <div class="collapse show" id="categories-collapse">
                                        <div class="card border-0 shadow-none ps-2 mb-0">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="javascript:void(0);" class="d-flex align-items-center text-muted"><i class="bi bi-circle-fill text-danger me-2" style="font-size: 6px;"></i><span class="me-auto">Analytics</span></a></li>
                                                <li><a href="javascript:void(0);" class="d-flex align-items-center text-muted"><i class="bi bi-circle-fill text-warning me-2" style="font-size: 6px;"></i><span class="me-auto">Design</span></a></li>
                                                <li><a href="javascript:void(0);" class="d-flex align-items-center text-muted"><i class="bi bi-circle-fill text-info me-2" style="font-size: 6px;"></i><span class="me-auto">Development</span> <i class="ti ti-flag-3-filled ms-auto"></i></a></li>
                                                <li><a href="javascript:void(0);" class="d-flex align-items-center text-muted"><i class="bi bi-circle-fill text-secondary me-2" style="font-size: 6px;"></i><span class="me-auto">Project
                                                            A</span></a></li>
                                                <li><a href="javascript:void(0);" class="d-flex align-items-center text-muted"><i class="bi bi-circle-fill text-success me-2" style="font-size: 6px;"></i><span class="me-auto">Admin</span> <i class="ti ti-flag-3-filled ms-auto"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-brand-youtube align-baseline me-1"></i> Videos</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-file-description align-baseline me-1"></i> Documents</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-photo align-baseline me-1"></i> Images</a>
                            </li>

                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-star align-baseline me-1"></i> Important</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h6>Favorite Files</h6>
                        <ul class="file-manager-menu list-unstyled">
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-bookmark align-baseline me-1"></i> DOC -
                                    Projectbaser.word</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-bookmark align-baseline me-1"></i> DOC -
                                    SkripsiOnky.word</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="ti ti-bookmark align-baseline me-1"></i> IMG - auth-bg.jpg</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card bg-primary-subtle file-manager-widgets mt-auto mb-0">
                        <div class="card-body">
                            <div class="text-center mt-n5">
                                <img src="assets/images/upgrade-filemanager.png" alt="" height="200">
                                <h6 class="mt-4">Get more space for files</h6>
                                <p class="text-muted fs-sm">We offer you unlimited storage space for all your needs.</p>
                                <button class="btn btn-primary">Upgrade to Pro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
        </div><!--end file-manager-wrapper-->

        <div class="card file-manager-content-wrapper w-100 border-0 shadow-none">
            <div class="card-body">
                <div class="d-flex gap-3 align-items-center mb-3">
                    <div class="flex-shrink-0 d-block d-lg-none">
                        <button type="button" class="btn btn-icon btn-subtle-success file-menu-btn">
                            <i class="ri-menu-2-fill align-bottom"></i>
                        </button>
                    </div>
                    <div class="search-box flex-grow-1">
                        <input type="text" class="form-control search" placeholder="Search products, price etc...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-primary" (click)="createFolder.show()"><i class="bi bi-plus-lg align-baseline"></i> <span class="ms-1 d-none d-sm-inline-block">Create Folders</span></button>
                    </div>
                </div>
                <div class="row row-cols-xxl-5">
                    @for (data of file; track $index) {
                    <div class="col">
                        <a href="javascript:void(0);" class="card">
                            <div class="card-body d-flex align-items-center gap-3 p-2">
                                <div class="avatar-xs flex-shrink-0">
                                    <div class="avatar-title bg-{{data.color}}-subtle text-{{data.color}}-emphasis fs-md rounded">
                                        <i class="bi {{data.icon}}"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="flex-grow-1 mb-0 text-muted"><b>{{data.num}}</b> {{data.type}}</p>
                                </div>
                            </div>
                        </a>
                    </div>}<!--end col-->
                </div><!--end row-->

                <div class="d-flex align-items-center gap-2 mb-3">
                    <h6 class="card-title flex-grow-1 mb-0">Favorite Folders</h6>
                    <div dropdown class="flex-shrink-0 dropdown">
                        <button dropdownToggle class="btn btn-subtle-secondary btn-sm" type="button">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-folder-plus me-1 align-baseline"></i>
                                    Add Folder</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-cloud-arrow-down me-1 align-baseline"></i> Import</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-cloud-arrow-up me-1 align-baseline"></i> Export</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    @for (data of folderData; track $index) {
                    <div class="col-lg-4">
                        <div class="card border shadow-none">
                            <div class="card-body">
                                <div class="d-flex gap-3 mb-4">
                                    <div class="flex-grow-1">
                                        <div class="avatar-xs">
                                            <div class="avatar-title bg-transparent rounded text-primary fs-3">
                                                <i class="bi bi-folder2-open"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div dropdown class="flex-shrink-0 dropdown">
                                        <a dropdownToggle href="javascript:void(0);" class="text-reset d-inline-block" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-folder2-open me-1 align-baseline"></i> Open
                                                    Folder</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-pencil-square me-1 align-baseline"></i> Edit</a>
                                            </li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-trash3 me-1 align-baseline"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <a href="javascript:void(0);">
                                    <h6 class="fs-md text-truncate">{{data.title}}</h6>
                                </a>
                                <ul class="list-unstyled hstack gap-2 text-muted mb-0">
                                    <li>
                                        <b>{{data.feb}}</b> Feb
                                    </li>
                                    <li>
                                        <b>{{data.files}}</b> Files
                                    </li>
                                    <li>
                                        <b>{{data.gb}}</b> GB
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>}<!--end col-->
                </div><!--end row-->

                <div class="d-flex align-items-center gap-2 mb-3">
                    <h6 class="card-title flex-grow-1 mb-0">Quick Access</h6>
                    <div class="flex-shrink-0 dropdown">
                        <button class="btn btn-subtle-secondary btn-sm" type="button" aria-expanded="false">
                            View All
                        </button>

                    </div>
                </div>

                <div class="row">
                    @for (data of quickaccess; track $index) {
                    <div class="col-lg-4">
                        <div class="card border shadow-none" [ngClass]="{'bg-primary':data.selected === true}">
                            <div class="card-body">
                                <div class="d-flex gap-3 align-items-center">
                                    <div class="avatar-sm flex-shrink-0">
                                        <div class="avatar-title bg-body-secondary bg-{{data.color}}-subtle rounded fs-5">
                                            <i class="ti {{data.icon}} align-middle text-{{data.color}}"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="fs-md" [ngClass]="{'text-white':data.selected === true}">{{data.title}}</h6>
                                        <p class="text-opacity-50 fs-sm mb-0" [ngClass]="{'text-white':data.selected === true}">{{data.size}}</p>
                                    </div>
                                    <div dropdown class="flex-shrink-0 dropdown">
                                        <a dropdownToggle href="javascript:void(0);" class="d-inline-block" [ngClass]="{'text-white':data.selected === true}">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-folder2-open me-1 align-baseline"></i> Open
                                                    Folder</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-pencil-square me-1 align-baseline"></i> Edit</a>
                                            </li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-trash3 me-1 align-baseline"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}<!--end col-->
                </div><!--end row-->

                <div id="contactList" class="mt-2">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <h6 class="card-title flex-grow-1 mb-0">File Recent</h6>
                        <div dropdown class="dropdown card-header-dropdown sortble-dropdown flex-shrink-0">
                            <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                <span class="fw-semibold text-uppercase fs-sm">Sort by:
                                </span><span class="text-muted dropdown-title">{{selectedTab}}</span> <i class="ti ti-chevron-down ms-1"></i>
                            </a>
                            <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
                                <button class="dropdown-item sort" (click)="ChangeSelect('Docs Type','icon')">Docs Type</button>
                                <button class="dropdown-item sort" (click)="ChangeSelect('Size','mb')">Size</button>
                                <button class="dropdown-item sort" (click)="ChangeSelect('Date','date')">Date</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                            <thead class="text-muted table-light">
                                <tr>
                                    <th>
                                        <div class="form-check checkbox-product-list">
                                            <input class="form-check-input" type="checkbox" value="1" id="checkbox-1">
                                            <label class="form-check-label" for="checkbox-1"></label>
                                        </div>
                                    </th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('icon')">Type</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('title')">Document Name
                                    </th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('item')">File Item</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('mb')">Size</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Last Modified</th>
                                    <th scope="col" class="sort cursor-pointer">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list" id="file-list">
                                @for (data of recentDatas; track $index) {
                                <tr>
                                    <th>
                                        <div class="form-check checkbox-product-list">
                                            <input class="form-check-input" type="checkbox" value="2" id="checkbox-2">
                                            <label class="form-check-label" for="checkbox-2"></label>
                                        </div>
                                    </th>
                                    <td class="docs_type">
                                        <i class="bi {{data.icon}} text-{{data.color}}-emphasis fs-4"></i>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="text-reset document_name">{{data.title}}</a>
                                    </td>
                                    <td class="file_item">{{data.item}}</td>
                                    <td class="size">
                                        {{data.mb}}
                                    </td>
                                    <td class="date">
                                        {{data.date}}
                                    </td>
                                    <td>
                                        <div dropdown class="dropdown">
                                            <button dropdownToggle class="btn btn-subtle-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill align-middle"></i>
                                            </button>
                                            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item view-item-btn" (click)="openDetail($index)" href="javascript:void(0);"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>View</a>
                                                </li>
                                                <li><a class="dropdown-item edit-item-btn" href="javascript:void(0);"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" href="javascript:void(0);"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                        Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>}<!-- end tr -->
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find
                                    any transactions for you search.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center text-center text-sm-start mt-3">
                        <div class="col-sm">
                            <div class="text-muted">
                                Showing <span class="fw-semibold">{{recentDatas?.length}}</span> of <span class="fw-semibold">{{allrecentData?.length}}</span> Results
                            </div>
                        </div>
                        <div class="col-sm-auto  mt-3 mt-sm-0">
                            <pagination class="pagination-wrap hstack justify-content-center gap-2" [totalItems]="allrecentData?.length" [itemsPerPage]="6" (pageChanged)="pageChanged($event)"></pagination>
                        </div>
                    </div>
                </div><!--end file tables-->
            </div><!--end card-body-->
        </div><!--end file-manager-content-wrapper-->

        <div class="card file-manager-right-wrapper rounded-start-0 shadow-none">
            <ngx-simplebar class="h-100">
                <div class="card-header d-flex gap-2 align-items-center">
                    <div class="flex-grow-1">
                        <h6 class="card-title mb-0">Storage Overview <span class="badge bg-success-subtle text-success align-middle ms-1">67%</span></h6>
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-sm btn-icon btn-subtle-danger close-btn-overview" (click)="closeDetail()">
                            <i class="ri-close-fill align-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <div echarts [options]="storageChart" id="property_type" style="height: 336px;"></div> -->
                    <div id="storage_chart" data-colors='["--tb-success"]' class="apex-charts" dir="ltr">
                        <apx-chart [series]="storageChart.series" [chart]="storageChart.chart" [plotOptions]="storageChart.plotOptions" [fill]="storageChart.fill" [stroke]="storageChart.stroke" [labels]="storageChart.labels" dir="ltr"></apx-chart>
                    </div>
                    <div class="mt-3 mb-3">
                        <h6 class="card-title mb-0">Folders</h6>
                    </div>
                    <ul class="list-unstyled">
                        @for (data of fliefolders; track $index) {
                        <li>
                            <div class="card border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex gap-3 align-items-center mb-3">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded fs-5">
                                                <i class="ti {{data.icon}} align-middle text-body"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md">{{data.title}}</h6>
                                            <div class="d-flex mt-2">
                                                <p class="text-muted flex-grow-1 mb-0">{{data.files}} Files</p>
                                                <div class="fw-medium flex-shrink-0">{{data.gb}} GB</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Progress sm -->
                                    <progressbar class="progress-sm" [value]="data.valuenow" [type]="data.color">
                                    </progressbar>
                                </div>
                            </div>
                        </li>}
                    </ul>
                </div>
            </ngx-simplebar>
        </div><!--end file-manager-right-wrapper-->
    </div>
</div>

<!-- Modal -->
<div bsModal #createFolder="bs-modal" class="modal fade" id="createFolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderLabel">Product</h5>
                <button type="button" class="btn-close" (click)="createFolder.hide()" id="close-modal"></button>
            </div>

            <form class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">

                    <input type="hidden" id="order-field">
                    <input type="hidden" id="rating-field">
                    <input type="hidden" id="discount-field">

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Product title</label>
                        <input type="text" id="product-title-input" class="form-control" placeholder="Enter product title" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Product Images</label>
                        <dropzone [message]="'Drop files here or click to upload.'" class="border border-1 border-dashed border-primary text-center dz-clickable"></dropzone>
                    </div>

                    <div class="mb-3">
                        <label for="product-category-input" class="form-label">Product category</label>

                        <select class="form-select" id="product-category-input" data-choices data-choices-search-false data-choices-removeItem>
                            <option value="">Select product category</option>
                            <option value="Appliances">Appliances</option>
                            <option value="Automotive Accessories">Automotive Accessories</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Furniture">Furniture</option>
                            <option value="Grocery">Grocery</option>
                            <option value="Headphones">Headphones</option>
                            <option value="Kids">Kids</option>
                            <option value="Luggage">Luggage</option>
                            <option value="Sports">Sports</option>
                            <option value="Watches">Watches</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="product-stock-input" class="form-label">Stocks</label>
                                <input type="number" id="product-stock-input" class="form-control" placeholder="Enter product stocks" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="product-price-input" class="form-label">Price</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" id="product-price-input" placeholder="Enter product price" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="createFolder.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add User</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div>